*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F5F8FF 0% 0% no-repeat padding-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
}

title{
    display: inline-block;
}

/* GENERAL STYLES */

.divide-two-col{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top:20px;
}

.one-col{
    margin-top:20px;
}

/* text colors */
.main-color{ color: #4273FA;}
.danger-color{ color: #FE3F61;}
.accept-color{ color: #169316;}
.black{ color: #23282C;}


/* NAV TOP */
.navigation_top{
    z-index: 2;
    background-color: #f9fbff;
    padding: 25px 50px;
    display: flex;
    height: 90px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-shadow: 9px 3px 18px #4273fa2f;
}


.navigation_top-alt{
    background: transparent;
    height:120px;
    box-shadow: none;
    padding-bottom: 0;
    width: 83.5%;
    position: absolute;
    margin-left: 16.5%;
}

.navigation_top-details{
    display: flex;
    align-items: center;
}

.navigation_top-details > *:not(:last-child) {
    margin-right: 20px;
}

.navigation_top-type{
    font-family: 'Raleway', sans-serif;
    color: #566681;
    font-size: 17px;
    font-weight: 700;
}

.navigation_top-select{
    background-color: #fff;
    padding: 6px 15px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 2px 7px #4273FA33;
    color: #4273FA;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.navigation_top-button{
    background-color: #4273FA;
    padding: 6px 15px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 7px #4273FA33;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}

.navigation_top-icon,
.navigation_top-settingicon{
    position: relative;
    background: transparent;
    border: none;
}

.navigation_top-icon i,
.navigation_top-icon svg,
.navigation_top-settingicon > svg ,
.navigation_top-settingicon > i {
    width: 30px !important;
    height: 30px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 8px #4273FA33;
    cursor: pointer;
}

.settings-dropdown{
    background: #fff;
    position: absolute;
    top: 40px;
    display: none;
    opacity: 0;
    right: 0;
    padding: 10px 20px;
    box-shadow: 0px 2px 7px #4273FA33;
    width: 300px;
}

.settings-dropdown-heading{
    display: flex;
    color:#566681;
    align-items: center;
    font-weight: 500;
}

.settings-dropdown-heading:not(:last-child){
    margin-bottom: 8px;
}

.settings-dropdown-heading svg ,
.settings-dropdown-heading i {
    margin-right: 5px;
}

/* NAV SIDE */

.navigation_side{
    z-index: 1;
    box-shadow: 9px 3px 15px #4273FA26;
    width: 16.5%;
    background-color: #fff;
    position: fixed;
    top: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    height: 85vh;
}


.navigation_side--alt{
    height: 96vh;
    top: 15px;
}

.navigation_side-user-info{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    /* margin-bottom: 50px; */
}

.navigation_side-user-logo{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 25px;
}

.navigation_side-user-logo img{
    width: 100%;
}

.navigation_side-menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.navigation_side-user-co{
    font-weight: 700;
    font-size: 17px;
    color: #23282C;
    margin-bottom: 5px;
}

.navigation_side-user-name{
    font-weight: 300;
    font-size: 17px;
    color: #23282C;
}

.navigation_side-heading{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.navigation_side-menu-links{
    display: flex;
    width: 100%;
    margin-top: 20px;
    /* margin-bottom: 100px; */
    flex-direction: column;
}

.navigation_side-menu-link{
    display: flex;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    color: rgba(35, 40, 44,.3);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 17px;
    transition: all 200ms ease-in-out;
}

.navigation_side-menu-link:hover{
    color: #4273FA;
    background: #4273FA1A 0% 0% no-repeat padding-box;
}

.navigation_side-menu-link--active{
    background: #4273FA1A 0% 0% no-repeat padding-box;
    color: #4273FA;
    border-left: 4px solid #4273FA;
}

.navigation_side-menu-logout{
    text-align: center;
    color: rgba(35, 40, 44,.3);
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 800;
    
}

/* Container */


.wrapper{
    min-height: 100vh;
    margin-left: 320px;
    width: 75%;
    padding-top: 100px;
    padding-bottom: 25px;
}

/* FOOTER */
.footer{
    display: flex;
    padding: 50px 150px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px -3px 6px #4273FA33;
    justify-content: space-between;
}

.footer-list{
    display: flex;
    flex-direction: column;
}

.footer-list-heading{
    color: #566681;     
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-list-link{
    text-decoration: none;
    color: #566681;
    margin-bottom: 5px;
}

.footer-list-link:hover{
    text-decoration: underline;
}

.footer-message{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 23px;
    border-radius: 50%;
    background-color: #169316;
    cursor: pointer;
    box-shadow: 0px 3px 6px #079A2365;
    margin-bottom: 0;
    transition: all 200ms ease-in-out;
}

.footer-message:hover{
    margin-bottom: 5px;
}


/* HERO */
.logo_hero-container{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.logo_hero {
    width:200px
}

.logo_hero-title{
    margin-top: 20px;
}

.account-main-details-comtainer{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #4273FA80;
}

.account-main-details--heading{
    font-size: 24px;
}

.account-main-details-list{
    margin-left: 30px;
    margin-top: 10px;
    list-style: disc;
}

.account-main-detail-item{
    display: grid;
    list-style: disc;
    grid-template-columns: 2fr 1fr;
}

.account-main-detail-item:not(:last-child){
    margin-bottom: 7px;
}

.account-main-details-title svg,
.account-main-details-title i{
    font-size: 7px;
    margin-bottom: 2px;
    margin-right: 5px;
}

/* SEARCH HERO */

/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
.glass-container{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 50px;
    box-shadow: 0px 3px 6px #4273FA80;
    border-radius: 15px;
}

.glass-container--smpd{
    padding: 20px;
}

.glass-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.glass-heading-main{
    font-size: 20px
}

.glass-heading-main-sm{
    font-size: 15px
}

.showAll{
    color: #4273FA;
}

.padding-t-0{
    padding-top: 0px !important;
}
.margin-t-40{
    margin-top: 40px;
}
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!! */


.search_hero-input-container{
    display: flex;
    position: relative;
}

.search-hero-input{
    width: 100%;
    padding:8px 20px;
    font-size: 17px;
}

.search-hero-input {
    width: 100%;
    padding:15px 20px;
    border-radius: 10px;
}

.search_hero-input-container-sm .search-hero-input {
    width: 100%;
    padding:10px 20px;
    border-radius: 10px;
}

.search-hero-button {
    position: absolute;
    right: 0;
    font-size: 20px;
    width: 15%;
    background-color: #4273FA;
    box-shadow: 0px 3px 6px #4273FA33;
    border-radius: 10px;
    height: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-hero-button svg, 
.search-hero-button i{
    margin-right: 10px;
    font-size: 18px;
}

.campaigns-item{
    display: grid;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 13px 110px;
    border-bottom: 1px solid #4273FA;
    transition: all 200ms ease-in-out;
}

.campaigns-item:hover{
    background: rgba(66, 115, 250,0.2) 0% 0% no-repeat padding-box;
}

.campaigns-item:active{
    background: rgba(66, 115, 250,1) 0% 0% no-repeat padding-box;
    color: #fff;
}

.campaigns-item i ,
.campaigns-item svg {
    font-size: 8px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.campaigns-item-refrence:hover,
.campaigns-item-refrence:active{
    background: inherit;
    color: inherit;
    cursor: default;
}


/* Glass slider */
.glass-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.glass-slider-button{
    margin: 0 10px;
    background: none;
    border: none;
    color: #566681;
    cursor: pointer;
}

.glass-slider-button--dis{
    margin: 0 10px;
    background: none;
    cursor: not-allowed;
    border: none;
    color: #5666816c;
}

.glass-slider-box{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8b8b8b;
    border-radius: 5px;
    border: 1px solid #8b8b8b;
}

.glass-slider-text{
    color: #8b8b8b;
    margin: 0 10px;
}

/* Search input style */
.search-main-style-container{
    display: flex;
    position: relative;
}

.search-main-style{
    width: 100%;
    padding:8px 20px;
    font-size: 17px;
    padding:12px 20px;
    border-radius: 10px;
}

.search-main-style-container-sm .search-main-style-button {
    border-radius: 50%;
    border: 0;
}
.search-main-style-container-sm .search-main-style {
    border-radius: 150px;
    border: 0;
    box-shadow: 0px 3px 6px #4273FA33;

}

.search-main-style-button {
    position: absolute;
    right: 0;
    font-size: 20px;
    background-color: #4273FA;
    box-shadow: 0px 3px 6px #4273FA33;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-main-style-button i ,
.search-main-style-button svg {
    font-size: 18px;
}

/* promo codes page */

.search-promo-code-container{
    width: 50%;
    margin: 60px auto;
}

.search-promo-code-container input{
    border-radius: 50px;
}
.search-promo-code-container button{
    border-radius: 50%;
}

.promo-codes-item-container{
    width: 100%;
    background-color: rgba(255, 255, 255,0.7);
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border-radius: 10px; 
    box-shadow: 0px 3px 6px #4273FA48;
    justify-content: space-between;
    color: #566681;
}

.promo-codes-item-fr{
    padding: 15px 20px;
    padding-bottom: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr repeat(9,1fr);
    align-items: center;
    justify-items:center;
    border-bottom: 1px solid #ccc;
}

.promo-code-iden{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.promo-code-co-image-container{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.promo-code-co-image{
    width: 100%;
}

.promo-code-co-name{
    font-weight: 500;
    margin-top: 10px;
}

.promo-code-date-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promo-code-time{
    margin-top: 15px;
    color: #778db3;
    font-size: 14px;
}

.promo-code-text{
    color: #778db3;
}

.promo-code-status{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    color: #FFF;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 200ms ease;
}

.promo-code-status--active{
    background:  linear-gradient(107deg, #169316 100%, #169316 19%) ;
    
}
.promo-code-status--active:hover{
    background:  linear-gradient(107deg, #169316 0%, #158F15 19%, #0B4A0B 100%) ;
}

.promo-code-status--inactive{
    background:  #B8BCBF;
    
}
.promo-code-status--inactive:hover{
    background:  #B8BCBF;
}

.promo-codes-item-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 14px;
}

.promo-codes-item--burn{
    color: #169316;
}

.promo-codes-item--burned{
    color: #B8BCBF;
}

.promo-codes-refrence{
    display: grid;
    grid-template-columns: 1.5fr repeat(9,1fr);
    align-items: center;
    grid-gap: 10px;
    text-align: center;
    justify-items: center;
    /* margin-left: 15%; */
    /* margin-right: 1%; */
    font-size: 12px;
    padding: 0 20px;
}

/* NEW LANDING PAGE */
.main-heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    color: #566681;
}

.big-input-container{
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;

}

.big-input{
    box-shadow: 0px 3px 6px #4273FA33;
    outline: none;
    border: none;
    padding: 15px 30px;
    font-size: 17px;
    background: #fff;
    border-radius: 5px;
}

.big-input-container:not(:first-child){
    margin-top: 20px;
}

.big-input::placeholder{
    color:#B8BCBF
}

.big-input-title{
    font-size: 35px;
    color: #4273FA;
}

/*  */
.mid-input-container{
    display: grid;
    width: 100%;
    align-items: center;
    /* margin: 0 auto; */
    grid-template-columns: 1fr 4fr;

}

.mid-input{
    box-shadow: 0px 3px 6px #4273FA33;
    outline: none;
    border: none;
    background: #fff;
    padding: 15px 30px;
    font-size: 17px;
    border-radius: 5px;
}

.mid-input-container:not(:first-child){
    margin-top: 20px;
}

.mid-input::placeholder{
    color:#B8BCBF
}

.mid-input-title{
    font-size: 20px;
    color: #4273FA;
}

.mid-input-title-sec{
    color: #566681;
}

.create-landing-page-container-top{
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.create-landing-page-container{
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.glass-container-header{
    font-size: 20px;
}

.glass-container-header{
    color:#4273FA;
    font-size: 22px;
    margin-bottom: 10px;
}

.create-newlanpg-mid-inputs-con{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
}

.create-newlanpg-mid-inputs-con > .mid-input-container{
    width: 90%;
    margin-right: 40px;
}

.ALLLCAPS{
    text-transform: uppercase;
}

.promocode-color-input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
    margin: 0 auto;
}

.promocode-color-input{
    margin: 5px;
    width: 40px;
    height: 40px;
    border: 0;
    margin: 0;
    padding: 5px;
    box-shadow: 0px 3px 6px #4273FA33;
    border-radius: 2px;
    background-color: #fff;
}

.thank-you-container{
    margin-top: 50px;
}

.thank-you-container p {
    text-align: center;
    margin-bottom: 30px;
}

.landing-page{
    position: relative;
    display: grid;
    grid-template-columns: 75% 25%;
}

.landing-page-sidenav-new{
    position: absolute;
    right: 0;
    top: 130px;
    height: 90%;
    width: 25%;
    box-shadow: 9px 3px 15px #4273FA26;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 14.7% 19.4% 17.8% 13.8% 11%;
    background-color: rgba(255, 255, 255,0.5);
    padding: 20px;
    right: -60px;
}

.landing-page-sidenav-edit{
    position: absolute;
    right: 0;
    top: 130px;
    height: 90%;
    width: 25%;
    box-shadow: 9px 3px 15px #4273FA26;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 9.7% 12.8% 12% 9% 7.5% 19% 11.5% 6.9%;
    background-color: rgba(255, 255, 255,0.5);
    padding: 20px;
    right: -60px;
}



.landing-page-title{
    color: #63C2DE;
    font-size: 14px
}

.landing-page_title-select{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    justify-content: space-between;
}

.landing-page_title-select-item{
    background-color: #fff;
    width: 27px;
    border-radius: 50%;
    height: 27px;
    display: flex;
    font-weight: 600;
    color: #B8BCBF;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    box-shadow: 0px 3px 6px #00000029;
}

.landing-page_title-select-item span{
    font-size: 10px;
    margin-top: 4px;
}

.landing-page_title-select-item--active{
    color: #fff;
    background-color: #4273FA;
    margin-top: 4px;
}

.landing-page-sidenav-box{
    border-bottom: 1px solid #ccc;
}

.landing-page-sidenav-box:not(:first-child){
    margin-top: 20px;
}

.landing-page_logo-image{
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.landing-page_logo-image img {
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
}

.landing-page_cover-image{
    width: 100%;
    height:140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

.landing-page_slider-image{
    height:50px;
    width:50px;
    margin-top: 20px;
    position: relative;
}

.landing-page_slider-image:not(:last-child){
    margin-right: 20px;
}

.landing-page_slider-image img{
    height:50px;
    width:50px;
    border-radius: 50%;
}

.landing-page_slider-image button{
    right: 0;
    top: -5px;
    font-size: 15px;
}

.landing-page_cover-image img{
    width: 100%;
    height:140px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.landing-page_cover-image button{
    right: -11px;
    top: -11px;
}

.landing-page_slider{
    display: flex;
}

.image-close-button{
    background-color:transparent;
    border: 0;
    position: absolute;
    right: 12%;
    cursor: pointer;
    top: 0;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-close-button i{
    color:#FE3F61;
}

.landing-page_logo-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.landing-page_product-image {
    width: 90%;
    position: relative;
    box-shadow: 0px 4px 6px #4273fa69;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}

.landing-page_product-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.landing-page_product-image p{
    padding: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 14px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4273FA;
    font-family: 'Cairo', sans-serif;
    border-bottom-right-radius: 10px;
}

.landing-page_product-image button{
    padding: 10px;
    right:  -20px;
    top:  -20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.fake-input-container{
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #566681;
    border-radius: 5px;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fake-input{
    color: #fff;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    background-color: #fff;
    padding-right: 15px !important;
}

.fake-input-title{
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 10px !important;
    color: #fff !important;
    width: 100%;    
    justify-content: start !important;
    padding-left: 15px !important;
    text-align: start !important;
}

.landing-page_videooo{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 2px 6px #4273fa44;
    border-radius: 10px;
}

.landing-page_videooo button{
    top: -14px;
    right: -14px;
}

.landing-page_videooo img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.landing-page_videooo .play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color:#fff;
}

.screen-grid-template {
  padding: 15px 10%;
}

/* NAV START */

.top-nav {
  width: 100%;
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-logo img {
  display: block;
  width: 215px;
}

/* NAV END */

/* ************************************************************************************* */

.cover-image{
    width: 100%;
}

.cover-image img{
    width: 100%;
}

/* CAROUSEL START */
.container-slider{
    position: relative;
}
.carousel-container {
  height: 70vh;
  border-radius: 10px;
  overflow: hidden;
  margin: 50px;
}

.carousel-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

.carousel-slide {
  display: flex;
  /* height: 100%; */
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 100vw;
  /* height: 100vh; */
}

.carousel-actions button {
  border: 0;
  opacity: 70%;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.carousel-actions button:hover {
  opacity: 100%;
}

/* CAROUSEL END */

/* ************************************************************************************* */

/* SERVICES START */

.services-container {
  padding: 10px 0;
  display: grid;
  grid-gap: 40px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-item {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  height: 200px;
}

.services-item-img {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-item-img img {
  width: 100%;
}

.services-item-content {
  position: absolute;
  width: 100%;
  font-size: 18px;
  text-align: right;
  bottom: 0;
  padding: 20px;
  background-color: #ddd;
}

/* SERVICES END */

/* ************************************************************************************* */

/* Form START */

.ford-form {
  padding: 20px;
  margin-top: 20px;
  background-color: #eee;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-item label {
  padding: 10px 0;
  font-size: 18px;
}

.form-item input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.form-item select {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

/*  */

.footer-alt {
  background-color: #102D5C;
}

.footer-alt .footer-list-heading{
    color:#fff;
}

.footer-alt .footer-list-link{
    color:rgba(255, 255, 255, 0.651);
    font-weight: 400;
}

.footer-copyrights{
    background-color: #031B41;
    padding: 20px;
    color: #fff;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* .footer-message {
  color: #fff;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 30px;
} */

.footer-column ul {
  list-style: none;
  color: #fff;
}

.footer-column li {
  padding: 5px 0;
  text-transform: capitalize;
}

.footer-column li a {
  text-decoration: none;
  color: inherit;
}

.footer-column li a:hover {
  text-decoration: underline;
}

.footer .screen-grid {
  padding: 15px 10% !important;
}

.footer-logo {
  width: 120px;
  margin-top: 25px;
  margin-left: -10px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 200px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*  */

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 9;
  justify-content: center;
  align-items: center;
}

.modal-background {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  background: #000;
  opacity: 0.3;
}

.modal-container {
  margin-top: -50px;
  border-radius: 5px;
  background: #fff;
  width: 500px;
  flex-direction: column;
  height: 500px;
}

.modal-container-image img {
  width: 100%;
}

.modal-container-header {
  display: flex;
  padding: 7px 20px;
  justify-content: space-between;
}

.modal-container-close {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 18px;
}

.modal-container-content {
  margin-top: -5px;
  text-align: right;
  font-size: 18px;
  padding: 15px;
  background: #fff;
}


.video-template-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.video-template-container-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
}

.video-template-container-text h3{
    font-size: 35px;
    color: #566681;
    font-weight: 500;
    margin-bottom: 10px;
}

.video-template-box-2{
    display: flex;
    justify-content: end;
}

.video-template-container-text p{
    font-size: 20px;
    color: #566681;
    font-weight: 500;
}

.template-img-cont{
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 6px #4273FA;
    height: 200px;
    overflow: hidden;
}

.template-img-cont i{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 80px;
    left: 50%;
    box-shadow: 0px 3px 10px #23282C52;
    transform: translate(-50%,-50%)
}


.template-img-cont img {
    width: 100%;
}

/* tablet */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* NAV START */
  .nav-logo img {
    display: block;
    width: 100px;
  }
  /* NAV END */

  /* CAROUSEL START */
  .carousel-container {
    height: 42.2vh;
    overflow: hidden;
  }

  .carousel-actions button{
      font-size: 50px;
  }

  .carousel-actions {
    top: 25%;
  }
  /* CAROUSEL END */

  /* SERVICES START */
  .services-item-content {
    font-size: 16px;
    padding: 18px;
  }

  .services-item-img img {
    height: 100%;
    width: auto;
  }
  /* SERVICES END */

  /* FOOTER START */
  .footer-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer-logo {
    margin: 20px auto;
  }
  /* FOOTER END */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  /* NAV START */
  .nav-logo img {
    display: block;
    width: 70px;
  }
  /* NAV END */

  /* CAROUSEL START */
  .carousel-container {
    height: 26.5vh;
    overflow: hidden;
  }

  .carousel-actions {
    top: 19%;
  }

  /* CAROUSEL END */

  /* SERVICES START */
  .services-container {
    padding: 20px 30px;
    display: grid;
    grid-gap: 40px;
    justify-items: center;
    grid-template-columns: 1fr;
  }
  /* SERVICES END */

  /* FOOTER START */
  .footer {
    font-size: 14px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer-logo {
    margin: 20px auto;
  }
  /* FOOTER END */
}


.main-heading--big{
    font-size: 30px;
    font-weight: 800;
}

.main-heading--big .circle {
    font-size: 25px;
    margin-right: 10px;
}

.grid-3-2{
    display: grid;
    grid-template-columns: 3fr 2fr ;
    grid-gap: 20px;
}

.grid-3-2-2{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr ;
    grid-gap: 10px;
}


/* ANALYTICS PAGE */
.num-analytics-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.num-analytics-item{
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#fff;
}

.num-analytics-name{
    font-weight: 600;
}

.num-analytics-value{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

#users-analytics-box{background-color: #4273FA;}
#new-users-analytics-box{background-color: #63C2DE;}
#session-analytics-box{background-color: #F5BE30;}
#total-leads-analytics-box{background-color: #FE3F61;}

#days-TT-box{color: #4273FA;}
#hours-TT-box{color: #63C2DE;}
#minutes-TT-box{color: #F5BE30;}
#seconds-TT-box{color: #FE3F61;}

.date-container{
    display: grid;
    grid-template-columns: 3fr 1fr ;
    grid-gap: 20px;
    cursor: pointer;
}

.date-track-container{
    box-shadow: 0px 3px 6px #4273FA80;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.date-track-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 15px 10px;
}

.date-track-num{
    font-size: 35px;
}

.date-track-type{
    font-size: 12px;
}

.date-track-item:not(:last-child){
    border-right: 1px solid #ccc;
}

.date-details-container{
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.date-details-name{
    color: #23282C;
    font-weight: 600;
}

.date-details-value{
    color: #707070;
}

.summary-date{
    display: flex;
    align-items: center;
    color: #B8BCBF;
}

.summary-date i {
    margin-right: 10px;
}


/* LEADS BOX ST -> */
.leads-list{
    margin-top: 20px;
}

.leads-list-item{
    display: grid;
    grid-template-columns: 15% 25% 25% 35%;
    text-align: center;
    font-size: 13px;
}

.leads-list-item-refrence{
    font-weight: 600;
    padding-top:0 !important;
    padding-bottom:10px !important;
}

.leads-item-mail{
    width: 100%;
    overflow: hidden;
}

.leads-list-item{
    padding: 15px 10px;
}

.leads-list-item:nth-child(even){
    background-color: hsla(206, 5%, 74%, 0.3);
}

.glass-header-icon{
    font-size: 18px;
}


.button-icon {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;    
}

.button-icon::after {
    content: "";
    width: 0;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 0;
    background-color: #4273FA;
    border-radius: 50%;
    opacity: 0;
    width: 90%;
    height: 90%;
    transition: all 100ms ease-in-out;
}

.button-icon:hover::after {
    opacity: 1;
    width: 160%;
    height: 160%;
}
/* LEADS BOX E <-*/


/* CAMPAGINE BOX -> */
.campagine-list{
    margin-top: 20px;
}


.campagine-list-item{
    display: grid;
    grid-template-columns: repeat(7,16.666667%);
    text-align: center;
    font-size: 13px;
}

.campagine-list-item-refrence{
    font-weight: 600;
    padding-top:0 !important;
    padding-bottom:10px !important;
}

.campagine-list-item{
    padding: 15px 10px;
}

.campagine-item-total-leads{
    padding: 5px;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: red;
}
/* CAMPAGINE BOX <- */


/* CHANNEL BOX -> */
.channel-list{
    margin-top: 20px;
}

.channel-list-item{
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 13px;
}

.channel-list-item-refrence{
    text-align: center;
    font-weight: 600;
    padding-top:0 !important;
    padding-bottom:10px !important;
}

.channel-item-channel-name{
    color: #4273FA;
    text-decoration: none;
}

.channel-list-item{
    padding: 15px 10px;
}

.channel-list-item:nth-child(even){
    background: hsla(224, 100%, 92%, 0.5) 0% 0% no-repeat padding-box;
}

/* CHANNEL BOX <- */


.circular{
  height:100px;
  width: 100px;
  position: relative;
  transform:scale(0.7);
}

.circular .inner{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: scale(1.1);
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #dde6f0;
  border-radius: 100%; 
}

.circular .crcl-prg-num{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:10;
  font-size:18px;
  font-weight:500;
  color:#4158d0;
}

.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #4158d0;
}

.circle .left .progress{
  z-index:1;
}

.circle .right {
  transform: rotate(180deg);
  z-index:3; 
}

.percentage-box .circular{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.percentage-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.precentage-box-txt{
    font-size: 14px;
    text-align: center;
}
    
.precentage-box-txt i{
    font-size: 10px;
}

.percent1 .precentage-box-txt{color: #FE3F61;}
.percent2 .precentage-box-txt{color: #63C2DE;}
.percent3 .precentage-box-txt{color: #F5BE30;}


.percent1 .circular .inner{
  background: #e9dadd;
}

.percent1 .crcl-prg-num{
    font-size:20px !important;
    font-weight: 600;
    color: #FE3F61;
    margin-left:2px;
}

.percent1 .circle .bar .progress{
    background-color: #FE3F61;
}

.percent2 .circular .inner{
  background: #effcff;
}

.percent2 .crcl-prg-num{
    font-size:20px !important;
    font-weight: 600;
    color: #63C2DE;
    margin-left:2px;
}

.percent2 .circle .bar .progress{
    background-color: #63C2DE;
}

.percent3 .circular .inner{
  background: #f5f2eb;
}

.percent3 .crcl-prg-num{
    font-size:20px !important;
    font-weight: 600;
    color: #F5BE30;
    margin-left:2px;
}

.percent3 .circle .bar .progress{
    background-color: #F5BE30;
}


.map-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 20px;
}

.map-box{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.countries-box .glass-header,
.map-box .glass-header{
    margin-bottom: 20px;
}

.world-image-container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.world-image{
    transform: scale(1.7);
    width:  100%;
}

.countries-box-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-bottom: 10px;
}

.countries-box-item:not(:last-child){
    margin-bottom: 10px;
}

.countries-box-item-details{
    display: flex;
    align-items: center;
}

.countries-box-item-map{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

.countries-box-item-map img {
    height: 100%;

}

.new-campaine-container{
    padding-top: 150px;
}

.submit-button{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 8px 15px;
    border: 1px solid #23282C;
    background-color: #4273FA;
}

.submit-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.modal-main{
    display: none;
    position:fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 99;
    opacity: 0;
    background-color: rgba(204, 204, 204,0.4);
    height: 100vh;
}

.modal-main-show{
    display: flex;
    opacity: 1;
}

.modal-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 100px;
    border-radius: 10px;
    background-color: #fff;
}

.modal-main-heading{
    font-size: 30px;
    color: #566681;
    font-weight: 500;
    margin-bottom: 40px;
}

.modal-main-text{
    line-height: 1.6;
    font-size: 20px;
    color:#566681;
    font-weight: 400;
}

.button-style{
    text-transform: uppercase;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.modal-main-actions{
    margin-top: 35px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.accept-button{
    background-color: #169316;
}

.danger-button{
    background-color: #FE3F61;
}

.body-lock{
    width: 100% !important;
    height: 100vh !important;
    max-height: 100vh !important;
    overflow-y: hidden;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.leads-list-refrence{
    display: grid;
    position: relative;
    grid-template-columns: 10% 10% 7% 15% 13% 10% 10% 10% 6% 9%;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-size: 12px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.leads-item-container{
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-size: 12px;
    padding:30px 20px;
    grid-template-columns: 10% 10% 7% 15% 13% 10% 10% 10% 6% 9%;
}

.leads-item-container:nth-child(even){
    display: grid;
    background-color: rgba(185, 189, 192,.25);
    align-items: center;
    box-shadow: 0px 2px 7px #4273fa13;
    border-radius: 10px;
    text-align: center;
    justify-items: center;
    font-size: 12px;
}

.leads-remove-button{
    background-color: #FE3F61;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 30px;
    height: 30px;
}


.leads-heading{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 40px;
    margin-bottom: 50px;
}

.leads-select-search{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}

.custom-select-value__leads{
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 3px 6px #4273FA33;
    border: 0 !important;
    padding: 8px 20px;
    width: 100%;
}

.custom-select-options__leads{
    margin-top: 5px;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #4273FA33;
}

.custom-select-option__leads{
    padding: 8px 20px;
}
.custom-select-option__leads:hover{
    background-color:#4273fa44;
}

.custom-select-option__leads.selected{
    background-color:#4273FA;
    color: #fff;
}

.leads-export-ref{
    display: flex;
    background-color: transparent;
    border: 0;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.leads-export-ref-name{
    position: relative;
    font-weight: bold;
    color: #169316;
    font-size: 13px;
}

.leads-export-ref i {
    position: relative;
    color: #fff;
    /* right: -30px;
    top: -4px; */
    /* position: absolute; */
    background-color: #169316;
    width: 24px;
    margin-left: 10px;
    height: 24px;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */

.export-popout{
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -20px 20px 48px #4273FA33;
    display: none;
    width: 1000px;
    color: #566681;
    text-align: start;
    grid-template-columns: 33% 67%;
}

.export-popout-show{
    display: grid;
}

.export-leads-option--selected{
    color: #4273FA;
}

.export-leads-option_export-all{
    text-align: center;
    font-weight: 600;
}

.export-leads-options{
    padding: 15px 40px;
    font-size: 16px;
    border-right: 1px solid #ccc;
}

.export-leads-option{
    margin: 20px;
    /* background: transparent;
    border: 0; */
    font-size: 15px;
}

.leads-export-date{
    padding: 20px;
}

.litepicker .container__months{
    box-shadow: none !important;
}

.leads-export-datepicker-container{
    display: flex;
    /* justify-content: center; */
}

.litepicker{
    /* display: block !important; */
    position: absolute;
    z-index: 9999;    
    top: 363.2px;
    left: 777.463px;

    transform: translate(70px,-24px);
}

.litepicker-show{
    display: block !important;
}

#datepicker{
    display: none;
}

.litepicker .container__tooltip{
    visibility:visible;
}

.leads-export-date{
    position: relative;
}

.leads-export-button-green{
    /* display:; */
}

.leads-export-time{
    margin: 0 50px;
    margin-top: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
}
.leads-export-time-first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leads-export-time-first input {
    padding: 6px 10px;
    border: 1px solid #566681;
    border-radius: 2px;
    color:#566681;
}
.leads-export-time-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leads-export-time-sec input {
    padding: 6px 10px;
    border: 1px solid #566681;
    border-radius: 2px;
    color:#566681;
}

.leads-export-actions{
    display: flex;
    justify-content: flex-end;
    margin: 0 50px;
    margin-top: 30px;
    align-items: center;
}

.leads-export-button-green{
    padding: 7px 25px;
    border-radius: 2px;
    color: #fff;
    border: 0;
    font-size: 16px;
    background-color: #169316;
}

.leads-export-button-cancel{
    padding: 7px 25px;
    margin-right: 30px;
    border-radius: 2px;
    color: #FE3F61;
    border: 0;
    font-size: 16px;
    background: #FFECF0 0% 0% no-repeat padding-box;
}

.AM-PM-Export{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}

.AM-PM-Export > div {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 16px;
}

.AM-PM-Export > div > label {
    margin-left: 5px;
}

.set-to-now-export{
    color: #4273FA;
    background: transparent;
    border: 0;
    font-size: 16px;
}

.channel-button{
    color: #4273FA;
    font-weight: 600;
    background: transparent;
    border: 0;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.channel-button i {
    width: 30px;
    margin-left: 10px;
    border-radius: 50%;
    height: 30px;
    padding-right: 1px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4273FA;
}

.channel-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:40px;
    margin-bottom: 50px;
}


.channel-list-refrence{
    display: grid;
    position: relative;
    grid-template-columns: repeat(8,12%);
    grid-gap: .5%;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-size: 12px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.channel-item-container{
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-size: 12px;
    padding:30px 20px;
    grid-template-columns: repeat(8,12%);
    grid-gap: .5%;
}

.channel-item-container:nth-child(even){
    display: grid;
    background-color: rgba(185, 189, 192,.25);
    align-items: center;
    box-shadow: 0px 2px 7px #4273fa13;
    border-radius: 10px;
    text-align: center;
    justify-items: center;
    font-size: 12px;
}

.channel-edit-button  {
    background: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
}
.channel-edit-button i {
    width: 30px !important;
    display: inline-block;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px !important;
    border-radius: 50%;
    background: #63C2DE;
}

.navigation_top-logo img{
    width: 300px;
} 